.bg-cont {
  background-color: #000000;
  min-height: 100vh;
  height: 100%;
}

.website-banner {
  width: 100%;
}

.total-carousel-cont {
  padding: 50px;
  padding-top: 20px;
}

.carousel-cont {
  padding-bottom: 15px;
}

.category-heading {
  color: #ffffff;
  font-size: 30px;
}
